@model TheEliteExplorerUi.Models.SimulatedRankingViewData

<html class=" byzbljr idc0_332">
<head>
    <title>The GoldenEye World Records and Rankings - The Elite Rankings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://rankings.the-elite.net/css/base.1628312764.css" type="text/css" rel="stylesheet">
    <link href="https://rankings.the-elite.net/css/users.1631148673.css" type="text/css" rel="stylesheet">
    <link href="https://rankings.the-elite.net/css/flags.1541225167.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div id="page" class="with-sidebar">
            <div id="header">
                <div id="logo">
                    <a href="/">The Elite Rankings</a>
                    <p>The best GoldenEye and Perfect Dark players in the world</p>
                </div>
                <div id="user">
                    <form action="/login" method="post">
                        <ul id="user-links">
                            <li><a href="/account/reset">Help</a> / <a href="/join">Join</a></li>
                        </ul>
                        <div class="form-row">
                            <div class="form-label">Email</div>
                            <div class="form-input"><input type="email" name="email" value=""></div>
                        </div>
                        <div class="form-row">
                            <div class="form-label">Password</div>
                            <div class="form-input"><input type="password" name="password"> <input class="login" type="submit" value="Log in"></div>
                            <input type="hidden" name="sid" value="n1288bb5jgs0hc31uoh1s9qftf">
                        </div>
                    </form>
                </div>
            </div>
            <ul id="nav" class="active-ge">
                <li id="nav1"><a href="/">Rankings Home</a></li>
                <li id="nav2">
                    <a href="/goldeneye">GoldenEye</a>
                    <ul>
                        <li class="icon-ranks"><a href="/goldeneye">Records &amp; rankings</a></li>
                        <li class="icon-leaders"><a href="/goldeneye/leaders">Leaders</a></li>
                        <li class="icon-controller"><a href="/goldeneye/systems">System records</a></li>
                        <li class="icon-calendar"><a href="/goldeneye/past">Past records</a></li>
                        <li class="icon-watch"><a href="/goldeneye/single-segments">Single segment runs</a></li>
                        <li class="icon-ltk"><a href="/goldeneye/ltk">LTK records</a></li>
                        <li class="icon-log"><a href="/goldeneye/pointless">Pointless times</a></li>
                        <li class="icon-ge"> <a href="https://wrs.the-elite.net/goldeneye/">GE WR Database</a></li>
                    </ul>
                </li>
                <li id="nav3">
                    <a href="/perfect-dark">Perfect Dark</a>
                    <ul>
                        <li class="icon-ranks"><a href="/perfect-dark">Records &amp; rankings</a></li>
                        <li class="icon-leaders"><a href="/perfect-dark/leaders">Leaders</a></li>
                        <li class="icon-controller"><a href="/perfect-dark/systems">System records</a></li>
                        <li class="icon-calendar"><a href="/perfect-dark/past">Past records</a></li>
                        <li class="icon-watch"><a href="/perfect-dark/single-segments">Single segment runs</a></li>
                        <li class="icon-ltk"><a href="/perfect-dark/ltk">LTK records</a></li>
                        <li class="icon-log"><a href="/perfect-dark/pointless">Pointless times</a></li>
                        <li class="icon-pd"> <a href="https://wrs.the-elite.net/perfectdark/">PD WR Database</a></li>
                    </ul>
                </li>
                <li id="nav4">
                    <a href="/rare-ranks">Rare Ranks</a>
                    <ul>
                        <li class="icon-ranks"><a href="/rare-ranks">Rankings</a></li>
                        <li class="icon-leaders"><a href="/rare-ranks/leaders">Leaders</a></li>
                        <li class="icon-leaders"><a href="https://wrs.the-elite.net/">Rare WR Databases</a></li>
                    </ul>
                </li>
                <li id="nav5">
                    <a href="https://forums.the-elite.net/">Community</a>
                    <ul>
                        <li class="icon-discord"><a href="https://www.the-elite.net/discord">Discord</a></li>
                        <li class="icon-ge"><a href="https://forums.the-elite.net/index.php?board=2.0">GoldenEye Elite Forum</a></li>
                        <li class="icon-pd"><a href="https://forums.the-elite.net/index.php?board=1.0">Perfect Dark Elite Forum</a></li>
                        <li class="icon-leaders"><a href="https://forums.the-elite.net/index.php?board=3.0">General Chat Forum</a></li>
                        <li class="icon-twitch"><a href="https://www.twitch.tv/team/theelite">Twitch Team</a></li>
                    </ul>
                </li>
                <li id="nav6">
                    <a href="/players">Info</a>
                    <ul>
                        <li class="icon-players"><a href="https://www.the-elite.net/community">Community Guidelines</a></li>
                        <li class="icon-log"><a href="/proof">Proof Policy</a></li>
                        <li class="icon-contact"><a href="/staff">Staff</a></li>
                        <li class="icon-players"><a href="/players">All players</a></li>
                        <li class="icon-ge"><a href="/players/goldeneye">All GoldenEye players</a></li>
                        <li class="icon-pd"><a href="/players/perfect-dark">All Perfect Dark players</a></li>
                        <li class="icon-world"><a href="/players/map">Worldwide map</a></li>
                    </ul>
                </li>
                <li id="nav7">
                    <a href="https://www.the-elite.net">the-elite.net</a>
                </li>
            </ul>
            <div id="sidebar">
                <h5>GoldenEye</h5>
                <ul>
                    <li class="has-icon icon-ranks active"><a href="/goldeneye">Records &amp; rankings</a></li>
                    <li class="child first-child"><a href="/goldeneye/stage/dam">Dam</a></li>
                    <li class="child "><a href="/goldeneye/stage/facility">Facility</a></li>
                    <li class="child "><a href="/goldeneye/stage/runway">Runway</a></li>
                    <li class="child "><a href="/goldeneye/stage/surface1">Surface 1</a></li>
                    <li class="child "><a href="/goldeneye/stage/bunker1">Bunker 1</a></li>
                    <li class="child "><a href="/goldeneye/stage/silo">Silo</a></li>
                    <li class="child "><a href="/goldeneye/stage/frigate">Frigate</a></li>
                    <li class="child "><a href="/goldeneye/stage/surface2">Surface 2</a></li>
                    <li class="child "><a href="/goldeneye/stage/bunker2">Bunker 2</a></li>
                    <li class="child "><a href="/goldeneye/stage/statue">Statue</a></li>
                    <li class="child "><a href="/goldeneye/stage/archives">Archives</a></li>
                    <li class="child "><a href="/goldeneye/stage/streets">Streets</a></li>
                    <li class="child "><a href="/goldeneye/stage/depot">Depot</a></li>
                    <li class="child "><a href="/goldeneye/stage/train">Train</a></li>
                    <li class="child "><a href="/goldeneye/stage/jungle">Jungle</a></li>
                    <li class="child "><a href="/goldeneye/stage/control">Control</a></li>
                    <li class="child "><a href="/goldeneye/stage/caverns">Caverns</a></li>
                    <li class="child "><a href="/goldeneye/stage/cradle">Cradle</a></li>
                    <li class="child "><a href="/goldeneye/stage/aztec">Aztec</a></li>
                    <li class="child  last-child"><a href="/goldeneye/stage/egypt">Egypt</a></li>
                    <li class="has-icon icon-leaders"><a href="/goldeneye/leaders">Leaders</a></li>
                    <li class="has-icon icon-controller"><a href="/goldeneye/systems">System records</a></li>
                    <li class="child first-child last-child"><button type="button" class="show-stages-button">Show stages...</button></li>
                    <li class="child first-child" style="display:none"><a href="/goldeneye/systems/stage/dam">Dam</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/facility">Facility</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/runway">Runway</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/surface1">Surface 1</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/bunker1">Bunker 1</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/silo">Silo</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/frigate">Frigate</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/surface2">Surface 2</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/bunker2">Bunker 2</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/statue">Statue</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/archives">Archives</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/streets">Streets</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/depot">Depot</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/train">Train</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/jungle">Jungle</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/control">Control</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/caverns">Caverns</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/cradle">Cradle</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/systems/stage/aztec">Aztec</a></li>
                    <li class="child  last-child" style="display:none"><a href="/goldeneye/systems/stage/egypt">Egypt</a></li>
                    <li class="has-icon icon-calendar"><a href="/goldeneye/past">Past records</a></li>
                    <li class="has-icon icon-watch"><a href="/goldeneye/single-segments">Single segment runs</a></li>
                    <li class="has-icon icon-ltk"><a href="/goldeneye/ltk">LTK records</a></li>
                    <li class="child first-child last-child"><button type="button" class="show-stages-button">Show stages...</button></li>
                    <li class="child first-child" style="display:none"><a href="/goldeneye/ltk/stage/dam">Dam</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/facility">Facility</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/runway">Runway</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/surface1">Surface 1</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/bunker1">Bunker 1</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/silo">Silo</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/frigate">Frigate</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/surface2">Surface 2</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/bunker2">Bunker 2</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/statue">Statue</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/archives">Archives</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/streets">Streets</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/depot">Depot</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/train">Train</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/jungle">Jungle</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/control">Control</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/caverns">Caverns</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/cradle">Cradle</a></li>
                    <li class="child " style="display:none"><a href="/goldeneye/ltk/stage/aztec">Aztec</a></li>
                    <li class="child  last-child" style="display:none"><a href="/goldeneye/ltk/stage/egypt">Egypt</a></li>
                    <li class="has-icon icon-log"><a href="/goldeneye/pointless">Pointless times</a></li>
                </ul>
            </div>
            <div id="content">
                <h1>The GoldenEye World Records and Rankings</h1>
                <p>These are the best known records for GoldenEye on the Nintendo 64. All of our scores are achieved on an unmodified Nintendo 64 without cheating devices or codes.</p>
                <h2>World Records</h2>
                <table id="wr-table" class="ge">
                    <tbody>
                        <tr>
                            <th class="stage">Stage</th>
                            <th class="difficulty">Agent</th>
                            <th class="difficulty">Secret Agent</th>
                            <th class="difficulty">00 Agent</th>
                        </tr>
                        @foreach (var stage in Model.StageWorldRecordEntries)
                        {
                        <tr>
                            <td><a href="/goldeneye/stage/@stage.Name.ToLower()" class="stage-image" id="@stage.Code"></a><a href="/goldeneye/stage/@stage.Name.ToLower()" class="stage-title">@stage.Name</a></td>
                            <td>
                                <div class="time">@stage.EasyTime.ToString(@"mm\:ss")</div>
                                <a href="javascript:Site.openOverlay('/video/134550');" class="video-link" title="Watch the video">Video</a>
                                <div class="initials">
                                    @{
                                        int i = 0;
                                        foreach (var kvp in stage.EasyColoredInitials)
                                        {
                                            if (i == 5)
                                            {
                                                <br />
                                            }
                                            <a href="/~Dark+Inkosi/time/92565" style="color:#@kvp.Item2" title="Marc Rützou">@kvp.Item1</a>
                                            i++;
                                        }
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="time">@stage.MediumTime.ToString(@"mm\:ss")</div>
                                <a href="javascript:Site.openOverlay('/video/181557');" class="video-link" title="Watch the video">Video</a>
                                <div class="initials">
                                    @{
                                        i = 0;
                                        foreach (var kvp in stage.MediumColoredInitials)
                                        {
                                            if (i == 5)
                                            {
                                                <br />
                                            }
                                            <a href="/~Dark+Inkosi/time/92565" style="color:#@kvp.Item2" title="Marc Rützou">@kvp.Item1</a>
                                            i++;
                                        }
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="time">@stage.HardTime.ToString(@"mm\:ss")</div>
                                <a href="javascript:Site.openOverlay('/video/228179');" class="video-link" title="Watch the video">Video</a>
                                <div class="initials">
                                    @{
                                        i = 0;
                                        foreach (var kvp in stage.HardColoredInitials)
                                        {
                                            if (i == 5)
                                            {
                                                <br />
                                            }
                                            <a href="/~Dark+Inkosi/time/92565" style="color:#@kvp.Item2" title="Marc Rützou">@kvp.Item1</a>
                                            i++;
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                        }
                        <tr>
                            <th>Totals</th>
                            <th>@Model.EasyCombinedTime.ToString(@"mm\:ss")</th>
                            <th>@Model.MediumCombinedTime.ToString(@"mm\:ss")</th>
                            <th>@Model.HardCombinedTime.ToString(@"mm\:ss")</th>
                        </tr>
                    </tbody>
                </table>
                <p class="overall">Overall combined time: @Model.CombinedTime.ToString("c")</p>
                <div class="dual-box">
                    <h2>Point Rankings</h2>
                    <div id="point-rankings">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Rank</th>
                                    <th>Player</th>
                                    <th class="sortable" onclick="Page.sort('p','d0');">A</th>
                                    <th class="sortable" onclick="Page.sort('p','d1');">SA</th>
                                    <th class="sortable" onclick="Page.sort('p','d2');">00A</th>
                                    <th class="sortable sorted" onclick="Page.sort('p','total');">Total</th>
                                </tr>
                                @foreach (var item in Model.PointsRankingEntries)
                                {
                                    <tr>
                                        <td class="rank">@item.Rank</td>
                                        <td>
                                            <!-- TODO: flag -->
                                            <!--<div class="flag f16 US"></div>-->
                                            <a style="color:#@item.PlayerColor">@item.PlayerName</a>
                                        </td>
                                        <td>@item.EasyPoints</td>
                                        <td>@item.MediumPoints</td>
                                        <td>@item.HardPoints</td>
                                        <td class="sorted"><strong>@item.TotalPoints</strong></td>
                                    </tr>
                                }
                                <tr class="footer">
                                    <td colspan="6"><a href="javascript:Page.load('p',100);">Show top 100</a><a href="javascript:Page.load('p');">Show all</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="dual-box last">
                    <h2>Time Rankings</h2>
                    <div id="time-rankings">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Rank</th>
                                    <th>Player</th>
                                    <th class="sortable" onclick="Page.sort('t','d0');">A</th>
                                    <th class="sortable" onclick="Page.sort('t','d1');">SA</th>
                                    <th class="sortable" onclick="Page.sort('t','d2');">00A</th>
                                    <th class="sortable sorted" onclick="Page.sort('t','total');">Total</th>
                                </tr>
                                @foreach (var item in Model.TimeRankingEntries)
                                {
                                    <tr>
                                        <td class="rank">@item.Rank</td>
                                        <td>
                                            <!-- TODO: flag -->
                                            <!--<div class="flag f16 US"></div>-->
                                            <a style="color:#@item.PlayerColor">@item.PlayerName</a>
                                        </td>
                                        <td>@item.EasyTime.ToString(@"mm\:ss")</td>
                                        <td>@item.MediumTime.ToString(@"mm\:ss")</td>
                                        <td>@item.HardTime.ToString(@"mm\:ss")</td>
                                        <td class="sorted"><strong>@item.TotalTime.ToString("c")</strong></td>
                                    </tr>
                                }
                                <tr class="footer">
                                    <td colspan="6"><a href="javascript:Page.load('t',100);">Show top 100</a><a href="javascript:Page.load('t');">Show all</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page -->
        <div id="footer">
            <p id="copyright">The-elite.net is not in any way affiliated or involved with Rareware or Nintendo. Perfect Dark, GoldenEye 007, and all related material are registered trademarks of Rareware. All other content is copyright © the-elite.net 2002 - 2021.<br>System developed free of charge by Ryan Dwyer. <a href="/donate">Donate</a>.</p>
            <ul id="footer-links">
                <li><a href="/rss">RSS Feeds</a></li>
                <li><a href="/related">Related Links</a></li>
            </ul>
        </div>
    </div>
    <!-- /#container -->
</body>
</html>
