@model System.Collections.Generic.IReadOnlyCollection<TheEliteExplorerDomain.Models.Sweep>

<div class="dual-box" style="width:auto">
    <h2>300 points / untied sweeps periods</h2>
    <div id="point-rankings" style="width:auto">
        <table style="width:auto">
            <tbody>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>Stage</th>
                    <th>Date Start</th>
                    <th>Date End</th>
                    <th>Days</th>
                </tr>
                @{
                    int rank = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="rank">@rank</td>
                        <td>
                            <a style="color:#@item.Author.Color">@item.Author.RealName</a>
                        </td>
                        <td>@item.Stage.ToString()</td>
                        <td>@item.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@(item.EndDate.HasValue ? item.EndDate.Value.ToString("yyyy-MM-dd") : "-")</td>
                        <td><strong>@item.Days</strong></td>
                    </tr>
                    rank++;
                }
            </tbody>
        </table>
    </div>
</div>
